---
---
/* COLORS */
$primaryColor1: #EF9A9A; /*red 200*/
$primaryColor2: #F44336; /*red 500*/
$primaryColor3: #B71C1C; /*red 900*/
$accentColor: #FBE9E7; /*orange 50*/
$basicTextColor: #333;
$suppTextColor: #666;

/*ALL CONTAINERS*/
.portfolio, .project, .blog, .post, .connect{
	.row{
		margin-bottom: 1.5em;

		img.responsive{
			width: 100%;
		}
	}
} /*END ALL CONTAINERS*/

/* PORTFOLIO */
.portfolio{
	
	&.programming, &.design, &.academic{
		padding: 2em 0;
	}
	
	&.programming{
		background-color: $accentColor;
	}
	&.academic{
		background-color: $accentColor;
	}
		
	.row{
		p.skills{
			color: $suppTextColor;
			margin: 5px 0 2px 0;
		}
	} /*END Item*/
} /*END PORTFOLIO*/

/* PROJECT */
.project{
	.row{
		header{
			margin-bottom: .5em;
		}
		p.skills{
			color: $suppTextColor;
		}
		section{
			margin-bottom: 2em;
		}
	} /*END Item*/
} /*END PROJECT*/

/* BLOG */
.blog{
	.row{
		div.date{
			float: left;
			margin: .2em 1.2em 0 0;
		}
		div.post{
			min-width: 300px;
			float: left;
		}
	} /*END Item*/
} /*END BLOG*/

/* BLOG */
.connect{
	.row{
		div.link{
			margin: .2em 1.2em 0 0;
		}
	} /*END Item*/
} /*END BLOG*/

/* POSTS */
.post{
	.row{
/*		p{
			color: $basicTextColor;
			margin-bottom: 1em;
		}*/
	} /*END Item*/
} /*END POST*/

/* FOOTER */
footer{
	padding: 2em 0;
	font-size: .9em;
} /*END FOOTER*/
