---
---
/* COLORS */
$primaryColor1: #EF9A9A; /*red 200*/
$primaryColor2: #F44336; /*red 500*/
$primaryColor3: #B71C1C; /*red 900*/
$accentColor: #FFE0B2; /*orange 100*/
$basicTextColor: #333;
$suppTextColor: #999;


/*OVERRIDING BOOTSTRAP NAVBAR*/
.navbar-default {
	background-color: $primaryColor2;
	border-color: none;
}
.navbar-default .navbar-brand {
	color: #FFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: $primaryColor1;
}
.navbar-default .navbar-nav>li>a {
	color: #FFF;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover {
	color: $primaryColor1;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse{
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: $primaryColor1;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: $primaryColor3;
	color: #FFF;
}

/* STYLE */
body
{	
	font-family: 'Roboto', sans-serif; 
	font-size: 16px;
	color: $basicTextColor;

	a{
		color: $primaryColor3;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		};
	}

	.container{

		/*CONTENT STYLES*/
		.row{
			form{
				margin: 2em 0;
				padding: 0;
			}
			
			h1{
				font-size: 3.0em;
				font-weight: 300;
			}

			h2{
				font-size: 1.5em;
				font-weight: 400;
				margin: 0 0 0 0;	
			}

			h3{
				font-size: 1.5em;
				font-style: italic;
				font-weight: 400;
			}

			p{
				font-size: 1.0em;
				font-weight: 400;
				line-height: 1.5;
			}
		}

		div.footer{
			clear: both;
			margin-top: 5em;
		}

	}
}
