---
---
/* STYLE */
body
{
	font-size: 100%;
	font-family: 'Open Sans', arial, sans-serif;

	h1, h3, p, ul, li {
		margin: 0;
		padding: 0;
	}

	.container{
		width: 60%;
		margin: 1em auto;

		ul.navigation{
			
			margin-bottom: 2em;
				
			li{
				display: inline;
				list-style-type: none;
				
				h3{
					display: inline;
					margin-right: 2em;
				}
			}
		}
		
		ul.posts, ul.projects, ul.connect{
			margin: 2em 0;
			
			li{
				margin-left: 1.2em;
				
				span{
					color: #333;
				}
			}
		}
		
		&> h1{
			font-size: 2em;
		}
		
		div.footer{
			clear: both;
			margin-top: 5em;
		}

	}
}