---
---
/* COLORS */
$primaryColor1: #EF9A9A; /*red 200*/
$primaryColor2: #F44336; /*red 500*/
$primaryColor3: #B71C1C; /*red 900*/
$accentColor: #9FA8DA; /*indigo 200*/

/* ANIMATION FRAMES */
@-webkit-keyframes fadeInRight
{
	0%
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
	}
	50%
	{
		opacity: 0.4;
		transform: none;
		-webkit-transform: none;
	}
	100%
	{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
	}
}
@keyframes fadeInRight
{
	0%
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
	}
	50%
	{
		opacity: 0.4;
		transform: none;
		-webkit-transform: none;
	}
	100%
	{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
	}
}
@-webkit-keyframes fadeIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes fadeIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@-webkit-keyframes heartBeat
{
	0%
	{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
	50%
	{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%
	{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@keyframes heartBeat
{
	0%
	{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
	50%
	{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%
	{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
.fadeInRight
{
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
}
.fadeIn
{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
}


/* ANIMATION DURATION */
.animate
{
	animation-duration: 2.5s;
	animation-fill-mode: both;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
}

.delay1
{
	animation-delay: 0.5s;
	webkit-animation-delay: 0.5s;
}
.delay2
{
	animation-delay: 1s;
	webkit-animation-delay: 1s;
}
.delay3
{
	animation-delay: 2s;
	webkit-animation-delay: 2s;
}

/* STYLE */
.container{
	.row{
		.home{
			ul, li {
				margin: 0;
				padding: 0;
				clear: both;
			}

			ul
			{
				list-style-type: none;

				h3{
					display: inline;
					margin-right: 2em;
				}
			}


			.about
			{
				li{
					font-size: 1em; /* reset from default.css */
				}

				margin: 2em 0;

				.name
				{
					font-size: 5.0em;
					font-weight: 700;
					line-height: 1.1em;
				}
				.verb
				{
					.glyphicon{
						font-size: 5em;
						color: $primaryColor2;
						margin: .1em 0 0 0;

						&:hover{
							animation-name: heartBeat;
							-webkit-animation-name: heartBeat;
							animation-duration: 1s;
							-webkit-animation-duration: 1s;
						}
					}

				}
				.skills
				{
					color: #999;
					font-size: 2.5em;
					font-weight: 300;
					line-height: 1.6em;
				}
			}
		}
	}
}
