---
---
/* COLORS */
$primaryColor1: #EF9A9A; /*red 200*/
$primaryColor2: #F44336; /*red 500*/
$primaryColor3: #B71C1C; /*red 900*/
$accentColor: #FFE0B2; /*orange 100*/
$basicTextColor: #333;
$suppTextColor: #999;

/* GALLERY */
.gallery{
	.row{
		margin-bottom: 1.5em;
		
		p{
			color: $suppTextColor;
		}
	} /*END Item*/
} /*END GALLERY*/