body {
	min-width:400px;
	overflow-x:hidden;
	color: #333;
}

/** Selected Text **/

p {
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
}

p strong {
	font-size: 14px;
}

p span {
	background: yellow;
	color: blue;
	font-size: 20px;	
}

/** Font Properties **/

ul{
	padding: 0;
}

li {
	list-style: none;
	padding: 7px 0;
}

li strong {
	border-radius: 9px;
	background-color: #888;
	padding: 3px 10px;
	color: white;
	font-size: 16px;	
}

li span {
	color: green;
	margin-left: 10px;
	font-size: 16px;	
}