---
layout: default
title: Blog
---
{% include navbar-blog.html %}

<div class="container blog">
	<div class="row">
		<div class="col-xs-12">
			<h1>Posts</h1>
		</div>
	</div>
	{% for post in site.posts %}
	<div class="row">		
		<div class="col-xs-12">
			<div class="date">
				{{ post.date | date: "%Y-%m-%d" }}
			</div>
			<div class="post">
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p>
					<span>{{ post.category }}</span>
					<!--<span>TAGS: {% for tag in post.tags %} {{ tag }} {% endfor %}</span>-->
				</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>