html, body{
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 720px;
	background: black;
}

.r1,
.r2,
.r3,
.r4,
.r5,
.r6,
.r7,
.r8 {
	height: 12.5%;
	width: 100%;
}

.c1,
.c2,
.c3, 
.c4,
.c5,
.c6,
.c7,
.c8 {
		outline: 1px solid white;
		height: 100%;
		width: 12.5%;
		display:inline;
		float: left;
		position: relative;
		margin: 0;
		background: gray;
}