html, body{
	margin: 0;
	padding: 0;
	border: 0;
	background: black;
}

p {
	margin: 0;
	padding-bottom: 15px;
	font-size: 28px;
}

a {
	text-decoration: none;
}

/* MENU Related Setting */
.fg-menu-container { position: relative; top:0; left:0px; padding: .4em;  overflow: hidden;}
.fg-menu-indicator { font-size: 2em; }
.fg-menu-current a { font-size: 2em; }

/* TAB RELATED STYLING */

.ui-tabs {
	width:1280px;
	height:720px;
	position:relative;
}

.ui-tabs .ui-tabs-nav li {
	/* total height - 90 + 0 + 10 = 100px*/
	/* total width */
	height: 60px;
	display: inline;
	padding: 0px 20px 0px 20px;
	margin: 5px 0px 0px 20px;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	font-size: 32px;
	padding: 15px 0 0 0;
}

/* BUTTON STYLINGS */
.ui-button-text-only .ui-button-text{
	padding: 5px;
}

/* STORE PANEL RELATED STYLING */
#store_panel{ padding: 20px;}
.store_container{ margin: 0 20px 0 20px; padding: 10px; position: relative; overflow: auto; float: left; /*display: block;*/ }
#store_border { position: absolute; left: 0px; top: 70px; height: 10px; width: 1280px; clear: both; }
#store_list { top: 0; overflow: auto; width: 360px; }
#store_widget { top: 0; width: 700px; height: 550px; }
#store_widget_wrap{ width: 700px; position: relative; }
#store_widget_image{ float: left; width: 300px; height: 400px; display: inline; }
#store_widget_info{ width: 350px; float: left; padding-left: 20px; }
#store_widget_title{ font-size: 2.2em; display: block; }
#store_widget_price{ font-size: 2em; color: red; display: block; padding-bottom: 20px; }
.store_widget_style { font-size: 1.2em; display: block; padding-bottom: 10px; }
#store_widget_info button { font-size: 1.5em; padding: 10px; position: relative; top: 20px;}

.category_header { color: gray; font-size: 12px; height: 20px;}
.category_image { font-size: 48px; color: gray; display:block; }


/* WIDGET PANEL RELATED STYLING */
#myWidgets_panel{ padding: 20px; }
.myWidgets_container{ margin: 0 20px 0 20px; padding: 10px; float: left; position: relative; overflow: auto; }
#myWidgets_border { position: absolute; left: 0px; top: 70px; height: 10px; width: 1280px; clear: both; }
#myWidgets_list { top: 0; overflow: auto; }
#myWidgets_widget { top: 0; width: 700px; height: 550px; float: left; }
#myWidgets_widget_wrap{ width: 700px; position: relative; }
#myWidgets_widget_image{ float: left; width: 300px; height: 400px; display: inline; }
#myWidgets_widget_info{ width: 350px; float: left; padding-left: 20px; }
#myWidgets_widget_title{ font-size: 2.2em; display: block; }
#myWidgets_widget_state{ font-size: 1.5em; color: green; display: block; padding-bottom: 20px; }
.myWidgets_widget_style { font-size: 1.2em; display: block; padding-bottom: 10px; }
.btn { float: left; clear: both; background: url(images/btn_left.png) no-repeat; padding: 0 0 0 10px; margin: 5px 0; }
.btn a {float: left; height: 40px; background: url(images/btn_stretch.png) repeat-x left top; line-height: 40px; padding: 0 10px; color: #fff; font-size: 2em; text-decoration: none;}
.btn span {background: url(images/btn_right.png) no-repeat; float: left; width: 10px; height: 40px;}
.btnGreen { background-color: green;}

/* THEME PANEL RELATED STYLING */
#theme_panel{ padding: 30px 50px 30px 50px;}
.theme_container{ margin: 0 20px 0 20px; padding: 10px; position: relative; overflow: auto; float: left; display: block; }
#theme_border { position: absolute; left: 0px; top: 70px; height: 10px; width: 1280px; clear: both; }
#theme_list { top: 0; overflow: auto; width: 360px; }
.theme_list_item { padding-left: 20px; }
.theme_name { font-size: 32px; display: inline; }
.theme_status { font-size: 18px; padding-left: 10px; display: inline; color: green;}
#theme_list_current_header { font-size: 2.2em; font-weight: normal; margin-bottom: 20px; border-bottom: 1px solid #666666;}
#theme_list_current_theme { padding-left: 20px; }
#theme_list_available_header { font-size: 2.2em; font-weight: normal; margin-bottom: 20px; border-bottom: 1px solid #666666;}
#theme_preview { width: 650px; }
#theme_preview_image { width: 600px; }
#theme_preview_image_img { display: inline; float: left;  }
#theme_preview_image_button { display: inline; float: left; padding-left: 50px; }
#theme_preview_header { font-size: 2.2em; font-weight: normal; margin-bottom: 20px; border-bottom: 1px solid #666666;}

/* SETTING PANEL RELATED STYLING */
#setting_panel{ padding: 30px 50px 30px 50px;}
.setting_container{ margin: 0 20px 0 20px; padding: 10px; float: left; position: relative; overflow: auto; float: left; display: block; }
#setting_border { position: absolute; left: 0px; top: 70px; height: 10px; width: 1280px; clear: both; }
#setting_profile { top: 0; overflow: auto; width: 350px; }
#setting_profile_header { font-size: 2.2em; font-weight: normal; margin-bottom: 20px; border-bottom: 1px solid #666666;}
#setting_profile_icon { width: 90px; height: 90px; border: 1px dotted white; margin-bottom: 20px;}
#setting_personal { top: 0; overflow: auto; width: 650px; }
#setting_personal_header { font-size: 2.2em; font-weight: normal; margin-bottom: 20px; border-bottom: 1px solid #666666;}
#setting_personal_edit { float: right; font-size: 0.4em; margin: 0; } 
.setting_style { font-size: 1.2em; display: block; padding-bottom: 10px; }
